[package]
name = "stratos"
version = "0.1.4"
authors = ["Lennart Heinrich <lennart@ltheinrich.de>"]
edition = "2018"
license = "ISC"
repository = "https://github.com/ltheinrich/stratos"
description = "Stratosphere balloon log analyzer"
readme = "README.md"

[dependencies]
kern = "1"
plotlib = "0.4.0"

[profile.release]
lto = true
codegen-units = 1

[package.metadata.deb]
depends = "rustc, cargo"
priority = "optional"
maintainer-scripts = "deb/"
assets = [
    ["target/release/stratos", "usr/bin/", "755"],
    ["deb/stratos.conf", "etc/stratos.conf", "644"],
    ["deb/stratos.service", "etc/systemd/system/stratos.service", "644"],
    ["README.md", "usr/share/doc/cargo-deb/README", "644"],
]
extended-description = "Stratos analyzes the log file of stratosphere balloon flights"
